/* Fuente principal */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

/* Reset y globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jockey One', sans-serif;
}

/* ------------------ Encabezado ------------------ */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 30px;
  background-color: #001dff;
  height: 20vh;
}

.LOGO-AEROSPOR {
  width: 150px;
  height: auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
  flex-wrap: wrap;
  text-decoration: none;
}
.nav .Texto-Menu {
  text-decoration: none;
  color: white
  
}
.Texto-Menu {
  font-size: 22px;
  color: #fff;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.Texto-Menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #e7e7e7;
  transition: width 0.3s ease;
  text-decoration: none;
}

.Texto-Menu:hover::after {
  width: 100%;
  text-decoration: none;
}

.boton-contactanos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 37px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  text-decoration: none;
}

.boton-contactanos:hover {
  background-color: #c0bebe;
  transform: scale(1.05);
  color: #000;
  text-decoration: none;
}

/* ------------------ Menú Hamburguesa ------------------ */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* ------------------ Responsivo Encabezado ------------------ */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    background-color: #001dff;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    padding: 30px 0;
    gap: 30px;
    z-index: 1000;
  }

  .nav.show {
    transform: translateY(0%);
  }

  .boton-contactanos {
    width: 100%;
    justify-content: center;
  }
}

/* ------------------ Carrusel Principal ------------------ */
.frame-principal {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.carousel-item video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  background-color: #0026ff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.6;
  margin: 0 4px;
}

.carousel-indicators .active {
  background-color: #ffffff;
  opacity: 1;
}

.group {
  position: absolute;
  width: 90%;
  max-width: 700px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.text-wrapper {
  font-size: 4rem;
  color: 525252;
  margin-bottom: 20px;
}

.boton-reserva {
  width: 350px;
  height: 60px;
  background-color: #0004d4;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s, transform 0.2s;
}

.boton-reserva:hover {
 
  background-color: #0003c4;
  transform: scale(1.5);
  color: white;
  text-decoration: none;
  
}
.visually-hidden{

color:#000;

}

/* ------------------ Sección Conócenos ------------------ */
#conocenos {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background-color: #bbb;
  justify-items: center;
}

.about-content {
  padding: 20px;
  justify-items: center;
}

.about h2 {
  color: #0026ff;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
}

/* Carrusel Conócenos */
#carouselConocenos {
  width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#CaruselConocenos .carousel-indicators [data-bs-target] {
  background-color: #0004d4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.6;
  margin: 0 4px;
}

.carousel-indicators .active {
  background-color: black;
  opacity: 1;
}

@media (max-width: 768px) {
  #conocenos {
    grid-template-columns: 1fr;
  }
}

/* ------------------ Sección Ubicación ------------------ */
#ubicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dos columnas */
  grid-template-rows: auto auto auto;    /* tres filas automáticas */
  gap: 1rem;
  padding: 5% 5%;
  overflow: hidden;
  align-items: center;
}

.info {
  padding: 20px;
  grid-column: 2;
  grid-row: 1;
  justify-items: center;
  

}

#carouselUbicacion {
  width: 80%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

#ubicacion .boton-reserva {
  width: 100%;
  background-color: #FFDA0A;
  color: #000000;
  border-radius: 0;
  justify-content: center;
}

#ubicacion .boton-reserva:hover {
  background-color: rgb(232, 216, 78);
}

.Guia {
  grid-column: 1 / -1; /* Ocupa ambas columnas */
  grid-row: 2;
  padding: 0 30%;
  text-align: center;
}

/* ------------------ Versión Responsive ------------------ */
@media (max-width: 768px) {
  #ubicacion {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .info {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    text-align: center;
  }

  #carouselUbicacion {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  .Guia {
    grid-column: 1;
    grid-row: 3;
    padding: 0 10%;
  }
}

/* ------------------ Sección Más Experiencias ------------------ */
.MasExperiencias {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;
}

.MasExperiencias .video {
  width: 50%;
  object-fit: cover;
}
#MasExperiencias .carousel-indicators [data-bs-target] {
  background-color: #0026ff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.6;
  margin: 0 4px;
}

.carousel-indicators .active {
  background-color: #ffffff;
  opacity: 1;
}

/* ------------------ Sección Contacto ------------------ */
.contacto {
  padding: 40px 20px;
  width: 100%;
  font-family: 'Jockey One', sans-serif;
  text-align: center;
  margin-top: 40px;
}
.contacto h2 {
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 3px solid blue;
  display: inline-block;
}
.contenedor-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 50px;
  padding: 20px;
  
}
.item-contacto {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.item-contacto img {
  width: 40px;
  height: 40px;
}


.info-contacto {
  background-color: #e6e6e6;
  text-align: left;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  width: 100%;
}


.info-contacto h3 {
  color: #003cff;
  margin-bottom: 20px;
}
.item-contacto p {
  margin: 0;
  font-size: 16px;
}
.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  width: 350px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  font-family: 'Jockey One', sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.formulario-contacto textarea {
  resize: vertical;
  min-height: 100px;
}
.formulario-contacto label {
  color: #003cff;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.terminos {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
}

.boton-enviar {
  background-color:#0004d4;
  color: white;

  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  align-self: center;
}
.boton-enviar:hover {
  background-color: #0003aa;
  transform: scale(1.05);
}

.footer-redes {
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-family: 'Jockey One', sans-serif;
  border-top: 3px solid #0070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.iconos-redes a img {
  width: 30px;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.iconos-redes a img:hover {
  transform: scale(1.1);
}

#map {
  width: 100%;
  height: 40vh;
  grid-column: 1 / -1; /* Ocupa ambas columnas */
  grid-row: 3;
  padding: 20%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
}
span[aria-hidden="true"] {
  color: #333; /* gris oscuro */
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}